.buttony {
    border-radius: 5px;
    background-color: #5e5e5e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 5px;
    width: 180px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.buttony:hover {
    background-color: #000;
    color: #FFFFFF
}

.buttony span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.buttony span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10px;
    transition: 0.5s;
}

.buttony:hover span {
    padding-right: 25px;
}

.buttony:hover span:after {
    opacity: 1;
    right: 0;
}

.buttonb {
    border-radius: 5px;
    background-color: #3f7bb9;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 5px;
    width: 180px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.buttonb:hover {
    background-color: #172d44;
    color: #FFFFFF
}

.buttonb span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.buttonb span:before {
    content: "\f067";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    opacity: 0;
    top: 0;
    left: -30px;
    transition: 0.5s;
}

.buttonb:hover span {
    padding-left: 25px;
}

.buttonb:hover span:before {
    opacity: 1;
    left: 0;
}

.buttonyx {
    border-radius: 5px;
    background-color: #ae423f;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 5px;
    width: 180px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.buttonyx:hover {
    background-color: #172d44;
    color: #FFFFFF
}

.buttonyx span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.buttonyx span:before {
    content: "\f155";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    opacity: 0;
    top: 0;
    left: -30px;
    transition: 0.5s;
}

.buttonyx:hover span {
    padding-left: 25px;
}

.buttonyx:hover span:before {
    opacity: 1;
    left: 0;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}


/* The modalImage (background) */

.modal-Image {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}


/* modalImage Content (image) */

.modal-Image-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}


/* Caption of modalImage Image */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}


/* Add Animation */

.modal-Image-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}


/* The Close Button */

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
    .modalImage-content {
        width: 100%;
    }
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

thead input {
    width: 100%;
}